### All days of the challange:

Here's what we're going to do today:

* [Take a first look at the data](#Take-a-first-look-at-the-data)
* [See how many missing data points we have](#See-how-many-missing-data-points-we-have)
* [Figure out why the data is missing](#Figure-out-why-the-data-is-missing)
* [Drop missing values](#Drop-missing-values)
* [Filling in missing values](#Filling-in-missing-values)

Let's get started!

# Take a first look at the data
________

The first thing we'll need to do is load in the libraries and datasets we'll be using. For today, I'll be using a dataset of events that occured in American Football games for demonstration, and you'll be using a dataset of building permits issued in San Francisco.

> **Important!** Make sure you run this cell yourself or the rest of your code won't work!

In [6]:
import os
print(os.listdir())

['cancer_data_means.csv', 'cleaning-quiz.ipynb', 'cleaning_Practice.ipynb', 'data-cleaning-challenge-handling-missing-values.ipynb', 'NFL Play by Play 2009-2016 (v3).csv', 'NFL Play by Play 2009-2017 (v4).csv']

In [8]:
# libraries we'll use
import pandas as pd
import numpy as np 


# read in all our data NFL nfl1-> Play by Play 2009-2017 (v4), nfl2 -> NFL Play by Play 2009-2016 (v3)
NFL2 = pd.read_csv("NFL Play by Play 2009-2016 (v3).csv", low_memory=False)
NFL1 = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv", low_memory=False)

The first thing I do when I get a new dataset is take a look at some of it. This lets me see that it all read in correctly and get an idea of what's going on with the data. In this case, I'm looking to see if I see any missing values, which will be reprsented with `NaN` or `None`.

In [9]:
# look at a few rows of the nfl1_data file. I can see a handful of missing data already!
NFL1.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009

Yep, it looks like there's some missing values. What about in the nfl2 dataset?

In [ ]:
# your turn! Look at a couple of rows from the nfl2 dataset. Do you notice any missing data?

# your code goes here :)
NFL2.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009

# See how many missing data points we have
___

Ok, now we know that we do have some missing values. Let's see how many we have in each column.

In [13]:
# get the number of missing data points per column
missing_data1 = NFL1.isnull().sum()
missing_data2 = NFL2.isnull().sum()

# look at the # of missing points in the first ten columns
print("Missing values in NFL1:")
print(missing_data1[:10])

print("\nMissing values in NFL2:")
print(missing_data2[:10])

Missing values in NFL1:
Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

Missing values in NFL2:
Date                0
GameID              0
Drive               0
qtr                 0
down            54218
time              188
TimeUnder           0
TimeSecs          188
PlayTimeDiff      374
SideofField       450
dtype: int64

That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem:

In [14]:
# how many total missing values do we have?
total_missing1 = NFL1.isnull().sum().sum()
total_missing2 = NFL2.isnull().sum().sum()

print("Total missing values in NFL1:", total_missing1)
print("Total missing values in NFL2:", total_missing2)


# percent of data that is missing
percent_missing1 = (total_missing1 / NFL1.size) * 100
percent_missing2 = (total_missing2 / NFL2.size) * 100

print("Percentage of missing data in NFL1: {:.2f}%".format(percent_missing1))
print("Percentage of missing data in NFL2: {:.2f}%".format(percent_missing2))

Total missing values in NFL1: 11505187
Total missing values in NFL2: 10222931
Percentage of missing data in NFL1: 27.67%
Percentage of missing data in NFL2: 27.65%

Wow, almost a quarter of the cells in this dataset are empty! In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

In [15]:
# your turn! Find out what percent of the nfl2_ dataset is missing
percent_missing2 = (total_missing2 / NFL2.size) * 100
print("Percentage of missing data in NFL2: {:.2f}%".format(percent_missing2))

Percentage of missing data in NFL2: 27.65%

# Figure out why the data is missing
____
 
This is the point at which we get into the part of data science that I like to call "data intution", by which I mean "really looking at your data and trying to figure out why it is the way it is and how that will affect your analysis". It can be a frustrating part of data science, especially if you're newer to the field and don't have a lot of experience. For dealing with missing values, you'll need to use your intution to figure out why the value is missing. One of the most important question you can ask yourself to help figure this out is this:

> **Is this value missing becuase it wasn't recorded or becuase it dosen't exist?**

If a value is missing becuase it doens't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probalby do want to keep as NaN. On the other hand, if a value is missing becuase it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. (This is called "imputation" and we'll learn how to do it next! :)

Let's work through an example. Looking at the number of missing values in the nfl_data dataframe, I notice that the column `TimesSec` has a lot of missing values in it:

In [16]:
# look at the # of missing points in the first ten columns
print(NFL1.isnull().sum()[:10])
print(NFL2.isnull().sum()[:10])

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64
Date                0
GameID              0
Drive               0
qtr                 0
down            54218
time              188
TimeUnder           0
TimeSecs          188
PlayTimeDiff      374
SideofField       450
dtype: int64

By looking at [the documentation](https://www.kaggle.com/maxhorowitz/nflplaybyplay2009to2016), I can see that this column has information on the number of seconds left in the game when the play was made. This means that these values are probably missing because they were not recorded, rather than because they don't exist. So, it would make sense for us to try and guess what they should be rather than just leaving them as NA's.

On the other hand, there are other fields, like `PenalizedTeam` that also have lot of missing fields. In this case, though, the field is missing because if there was no penalty then it doesn't make sense to say *which* team was penalized. For this column, it would make more sense to either leave it empty or to add a third value like "neither" and use that to replace the NA's.

> **Tip:** This is a great place to read over the dataset documentation if you haven't already! If you're working with a dataset that you've gotten from another person, you can also try reaching out to them to get more information.

If you're doing very careful data analysis, this is the point at which you'd look at each column individually to figure out the best strategy for filling those missing values. For the rest of this notebook, we'll cover some "quick and dirty" techniques that can help you with missing values but will probably also end up removing some useful information or adding some noise to your data.

## Your turn!

* Look at the columns `Street Number Suffix` and `Zipcode` from the `sf_permits` datasets. Both of these contain missing values. Which, if either, of these are missing because they don't exist? Which, if either, are missing because they weren't recorded?

# Drop missing values
___

If you're in a hurry or don't have a reason to figure out why your values are missing, one option you have is to just remove any rows or columns that contain missing values. (Note: I don't generally recommend this approch for important projects! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know your dataset.)  

If you're sure you want to drop rows with missing values, pandas does have a handy function, `dropna()` to help you do this. Let's try it out on our NFL dataset!

In [ ]:
# remove all the rows that contain a missing value
NFL1_dropped_rows = NFL1.dropna()
NFL2_dropped_rows = NFL2.dropna()

Oh dear, it looks like that's removed all our data! 😱 This is because every row in our dataset had at least one missing value. We might have better luck removing all the *columns* that have at least one missing value instead.

In [18]:
# remove all columns with at least one missing value
NFL1_dropped_cols = NFL1.dropna(axis=1)
NFL2_dropped_cols = NFL2.dropna(axis=1)

In [19]:
# just how much data did we lose?
# Number of rows deleted
rows_lost_NFL1 = NFL1.shape[0] - NFL1_dropped_rows.shape[0]
rows_lost_NFL2 = NFL2.shape[0] - NFL2_dropped_rows.shape[0]

print("Rows lost in NFL1:", rows_lost_NFL1)
print("Rows lost in NFL2:", rows_lost_NFL2)
# number of columns deleted
cols_lost_NFL1 = NFL1.shape[1] - NFL1_dropped_cols.shape[1]
cols_lost_NFL2 = NFL2.shape[1] - NFL2_dropped_cols.shape[1]

print("Columns lost in NFL1:", cols_lost_NFL1)
print("Columns lost in NFL2:", cols_lost_NFL2)

Rows lost in NFL1: 407688
Rows lost in NFL2: 362447
Columns lost in NFL1: 65
Columns lost in NFL2: 65

We've lost quite a bit of data, but at this point we have successfully removed all the `NaN`'s from our data.

In [22]:
# Your turn! Try removing all the rows from the nfl2 dataset that contain missing values. How many are left?

nfl2_no_missing_rows = NFL2.dropna()
print("Rows remaining after dropping rows with missing values:", nfl2_no_missing_rows.shape[0])

Rows remaining after dropping rows with missing values: 0

In [20]:
# Now try removing all the columns with empty values. Now how much of your data is left?
cols_lost_NFL2 = NFL2.shape[1] - NFL2_dropped_cols.shape[1]

print("Columns lost in NFL2:", cols_lost_NFL2)

Columns lost in NFL2: 65

# Filling in missing values automatically
_____

Another option is to try and fill in the missing values. For this next bit, I'm getting a small sub-section of the NFL data so that it will print well.

In [23]:
# get a small subset of the NFL dataset
nfl_subset = NFL2.iloc[:10, :5]
nfl_subset

         Date      GameID  Drive  qtr  down
0  2009-09-10  2009091000      1    1   NaN
1  2009-09-10  2009091000      1    1   1.0
2  2009-09-10  2009091000      1    1   2.0
3  2009-09-10  2009091000      1    1   3.0
4  2009-09-10  2009091000      1    1   4.0
5  2009-09-10  2009091000      2    1   1.0
6  2009-09-10  2009091000      2    1   2.0
7  2009-09-10  2009091000      2    1   3.0
8  2009-09-10  2009091000      2    1   4.0
9  2009-09-10  2009091000      3    1   1.0

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the `NaN` values to be replaced with. Here, I'm saying that I would like to replace all the `NaN` values with 0.

In [24]:
# replace all NA's with 0
nfl_fill_zero = nfl_subset.fillna(0)
print(nfl_fill_zero)

         Date      GameID  Drive  qtr  down
0  2009-09-10  2009091000      1    1   0.0
1  2009-09-10  2009091000      1    1   1.0
2  2009-09-10  2009091000      1    1   2.0
3  2009-09-10  2009091000      1    1   3.0
4  2009-09-10  2009091000      1    1   4.0
5  2009-09-10  2009091000      2    1   1.0
6  2009-09-10  2009091000      2    1   2.0
7  2009-09-10  2009091000      2    1   3.0
8  2009-09-10  2009091000      2    1   4.0
9  2009-09-10  2009091000      3    1   1.0

I could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [25]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0

nfl_fill_ffill = nfl_subset.fillna(method='bfill')


nfl_fill_ffill = nfl_fill_ffill.fillna(0)

print(nfl_fill_ffill)

C:\Users\Basmala\AppData\Local\Temp\ipykernel_1904\1214599801.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  nfl_fill_ffill = nfl_subset.fillna(method='bfill')

         Date      GameID  Drive  qtr  down
0  2009-09-10  2009091000      1    1   1.0
1  2009-09-10  2009091000      1    1   1.0
2  2009-09-10  2009091000      1    1   2.0
3  2009-09-10  2009091000      1    1   3.0
4  2009-09-10  2009091000      1    1   4.0
5  2009-09-10  2009091000      2    1   1.0
6  2009-09-10  2009091000      2    1   2.0
7  2009-09-10  2009091000      2    1   3.0
8  2009-09-10  2009091000      2    1   4.0
9  2009-09-10  2009091000      3    1   1.0

Filling in missing values is also known as "imputation", and you can find more exercises on it [in this lesson, also linked under the "More practice!" section](https://www.kaggle.com/dansbecker/handling-missing-values). First, however, why don't you try replacing some of the missing values in the sf_permit dataset?